.card-list {
    justify-items: center;
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media(max-width:1200px){
    .card-list{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

@media(max-width:920px){
    .card-list{
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px;
    }
}

@media(max-width:680px){
    .card-list{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}